.dialog-form {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    gap: 16px;
}

.form-row {
    display: flex;
    gap: 16px;

    @media (max-width: 600px) {
        flex-direction: column;
        gap: 16px;
    }
}

.full-width {
    width: 100%;
}

.flex-1 {
    flex: 1;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.mr-1 {
    margin-right: 8px;
}

.color-dot {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}